/* CSS file placeholder. */

/* hide name */
.mzh-hidename .feed-item .avatar,
.mzh-hidename .feed-item .source,
.mzh-hidename .feed-item .zm-item-answer-author-wrap,
.mzh-hidename .feed-item .zm-item-answer-author-info,
.mzh-hidename .feed-item .feed-source {
    display: none!important;
}

.mzh-hidename .zm-item-answer .answer-head,
.mzh-hidename .zm-item-answer .zm-item-link-avatar,
.mzh-hidename .zm-item-answer .zm-comment-hd {
    display: none!important;
}

/* hide up down */
.mzh-hideupdown .zm-votebar,
.mzh-hideupdown .feed-item .zm-item-vote,
.mzh-hideupdown .feed-item .zm-votebar {
    display: none!important;
}

.mzh-hideupdown .zm-item-answer .zm-votebar .up,
.mzh-hideupdown .zm-item-answer .zm-votebar .down {
    visibility: hidden!important;
}

/* hide sidebar */
.mzh-hideSidebar .zu-main-sidebar {
    display: none!important;
}

/* hide comments */
.mzh-hideComments .toggle-comment {
    display: none!important;
}
